@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;

  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;

  @apply bg-_black text-white;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-neutral-600 transition-all duration-300 rounded-full border-4 border-transparent border-solid bg-clip-padding;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}

/* #region --- Text --- */

h1 {
  @apply text-4xl !leading-normal;
}

h2 {
  @apply text-3xl !leading-normal;
}

h3 {
  @apply text-2xl !leading-normal;
}

h4 {
  @apply text-xl !leading-normal;
}

h5 {
  @apply text-lg !leading-normal;
}

h6 {
  @apply text-base !leading-normal;
}

/* #endregion */

/* #region --- Components --- */

.button {
  @apply bg-_dark-teal hover:bg-_light-teal hover:text-_black; /* Default only */
  @apply p-2 px-4 rounded-full flex items-center gap-2 transition-colors;
}

.button-back {
  @apply fixed top-[5vh] left-0 z-10 button !bg-white !text-_black !rounded-tl-none !rounded-bl-none shadow-lg !p-3 !pl-2;

  animation: button-back 300ms ease-out 1s forwards;

  opacity: 0;
  transform: translateX(-100%);

  will-change: transform, opacity;
}

@keyframes button-back {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* #region Cards */
.card {
  @apply rounded-[3rem] overflow-hidden p-6 relative min-h-[10rem];
  @apply flex flex-col justify-between items-stretch gap-6;
  @apply transition-all duration-700;

  /* Inactive */
  @apply scale-75 opacity-0;
}

.card.active {
  @apply scale-100 opacity-100;
}

a.card.active:hover,
button.card.active:hover {
  @apply scale-95;
}

.card__background {
  @apply absolute top-0 left-0 right-0 bottom-0 -z-10;
  @apply transition-all duration-500;
}

.card--bg-hover > * {
  @apply transition-all;
}

.card--bg-hover:hover > *:not(.card__background),
.card--bg-hover > .card__background {
  @apply opacity-0;
}

.card--bg-hover:hover > .card__background {
  @apply opacity-100;
}
/* #endregion */

/* #endregion */

/* #region --- Animations --- */

/* #region Page Animation */
.route-enter-active,
.route-leave-active {
  @apply transition-all origin-bottom !important;
}

/* Page Leaving */
.route-leave-active {
  @apply duration-500 !important;
}

.route-leave-to {
  @apply scale-50 opacity-0;
}

/* Page Entering */
.route-enter-active {
  @apply duration-1000 !important;
}

.route-enter-from {
  @apply translate-x-[100vw] opacity-0;
}
/* #endregion */

/* #endregion */
